.popup__input {
    max-width: 358px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding-bottom: 8px;
    outline: none;
    margin-bottom: 0;
}

input:-internal-autofill-selected {
    background-color: #fff;
}