.popup__container {
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width:639px) {
    .popup__container {
        max-width: 282px;
    }
}