.profile__edit {
    border: 0;
    background-color: #000;
    background-image: url(../../../images/Edit_Button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: .6;
}

@media (max-width: 639px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
    
}