.profile__status {
    max-width: 336px;
    padding: 9px 0 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 767px) {
    .profile__status {
        font-size: 14px;
        line-height: 17px;
    }
    
}

@media (max-width: 639px) {
    .profile__status {
        text-align: center;
        padding-top: 8px;
    }
}