.elements__img {
    /*max-width: 282px;*/
    max-width: 100%;
    max-height: 282px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    overflow: hidden;
    display:block;
    object-fit: cover;
}