.elements__card {
    border-radius: 10px;
    background-color: #fff;
    /*max-width: 282px;*/
    overflow: hidden;
    max-width: 100%;
    max-height: 361px;
}

@media (max-width: 639px) {
    .elements__card {
        max-width: 282px;
        width: 100%;
    }
}
