.elements__name {
    color: #000;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
    padding: 25px 0 25px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
}