.popup__close {
    border: 0;
    background-image: url(../../../images/Close_Icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    box-sizing: border-box;
    cursor: pointer;
}

.popup__close:hover {
    opacity: .6;
}

@media (max-width: 639px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}