.profile__name {
    max-width: 328px;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.14;
    margin: 0;
    padding: 0 18px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

@media (max-width: 767px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        padding-right: 10px;
        max-width: 220px;
    }
    
}