@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__status/profile__status.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__img/elements__img.css);
@import url(../blocks/elements/__caption/elements__caption.css);
@import url(../blocks/elements/__name/elements__name.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/elements/__like/_active/elements__like_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input-name/popup__input-name.css);
@import url(../blocks/popup/__input-status/popup__input-status.css);
@import url(../blocks/popup/__submit/popup__submit.css);