.profile__button {
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #000;
    margin: 0;
    cursor: pointer;
    background-image: url(../../../images/Vector.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    background-position: center;
    }

.profile__button:hover {
    opacity: .6;
}

@media (max-width: 640px) {
    .profile__button {
        width: 282px;
        background-size: 16px 16px;
    }  
}
